<div class="guide-container">
    <h3 class="guide-title">Buttons Guide</h3>
    <div class="start-container">
        <p class="start-text">Start:</p>
        <p class="sub-start-text">Start of The Test</p>
    </div>


    <div class="next-container">
        <p class="next-text">Next:</p>
        <p class="sub-next-text">Shows Next Question & Submits Previous Question Answer</p>
    </div>

    <div class="reset-container">
        <p class="reset-text">Reset:</p>
        <p class="sub-reset-text">Reset The Whole Test if The Countdown is Ended or There Are No More
            Questions
        </p>
    </div>

    <div class="end-container">
        <p class="end-text">End:</p>
        <p class="sub-end-text">Only Shows Up For The Final Question</p>
    </div>
</div>